@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?co5vih');
  src:  url('fonts/icomoon.eot?co5vih#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?co5vih') format('truetype'),
    url('fonts/icomoon.woff?co5vih') format('woff'),
    url('fonts/icomoon.svg?co5vih#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hexagon:before {
  content: "\e90e";
}
.icon-check-solid:before {
  content: "\e900";
}
.icon-chevron-left-solid:before {
  content: "\e901";
}
.icon-chevron-right-solid:before {
  content: "\e902";
}
.icon-code-solid:before {
  content: "\e903";
}
.icon-facebook-f-brands:before {
  content: "\e904";
}
.icon-google-plus-g-brands:before {
  content: "\e905";
}
.icon-gripfire-brands:before {
  content: "\e906";
}
.icon-heart-solid:before {
  content: "\e907";
}
.icon-html5-brands:before {
  content: "\e908";
}
.icon-laptop-solid:before {
  content: "\e909";
}
.icon-pencil-alt-solid:before {
  content: "\e90a";
}
.icon-tablet-alt-solid:before {
  content: "\e90b";
}
.icon-twitter-brands:before {
  content: "\e90c";
}
.icon-wordpress-simple-brands:before {
  content: "\e90d";
}
